<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/img/head_icon.jpg" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
      rel="stylesheet"
    />
    <title>CheckItOff</title>
      <script>
          function toggleForm() {
              const form = document.getElementById('taskForm');
              const btn = document.getElementById('addTask');
              form.classList.toggle('hidden');
              btn.classList.toggle('hidden');
          }

         
      </script>
  </head>
  <body>
    <header>
      <p class="hello"> Welcome back,  {{user.USERNAME}}</p>
      <button id="Logout"> <a href="/auth/logout">Logout</a></button>

    </header>
    <section class="Task-list">
    <h1>Task List</h1>
    
    <div id="tasks">
    <div class="view-content">
    <ul>
        {{#each tasks}}
            <li>
                <p>{{this.task_name}}</p>
                <p>{{this.task_description}}</p>
                <p>{{this.task_priority}}</p>
                <p>{{formatDate this.task_date}}</p>
                <a class="editTask" href="/main/task/{{this.task_id}}/edit">Edit</a>
                <form action="/main/task/{{this.task_id}}/delete" method="POST">
                    <button type="submit" id="deleteBtn">Delete</button>
                </form>
            </li>
        {{/each}}
    </ul>
    {{#if editing}}
        {{!-- <h2>Edit Task</h2> --}}
    {{else}}
        
        <button id="addTask" onclick="toggleForm()">Add Task</button>
    {{/if}}

    {{#if editing}}
        <form id="taskForm" action="/main/task/{{taskID}}" method="POST" class="">
    {{else}}
        <form id="taskForm" action="/main/task" method="POST" class="hidden">
    {{/if}}
        <input type="text" placeholder="Name" id="name" name="name" value="{{task.task_name}}" required>
        <input type="text" placeholder="What`s your task?" id="description" value="{{task.task_description}}" name="description">
        <select id="priority" name="priority" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <input type="date" id="date" name="date" required>
    {{#if editing}}
            <button class="editTask" type="submit">Edit Task</button>
    {{else}}
            <button id="addTask" type="submit">Add Task</button>
    {{/if}}
    {{#if editing}}
            <button class="cancel-but"><a href="/main">Cancel</a></button>
        </form>
    {{else}}
            <button type="button" class="cancel-but" onclick="toggleForm()">Cancel</button>
        </form>
    {{/if}}
   </div>
   </div>
    </section>
  </body>
</html>